@font-face {
  font-family: "Montserrat_Light";
  src: url("Fonte/static/Montserrat-Light.ttf");
}

html {
  font-size: 12px;
}

body {
  background-color: black;
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

ol,
ul {
  padding: 0;
}

li {
  list-style-type: none;
}

header {
  color: #ffffff;
  margin: 20px 0;
  font-family: "Montserrat_Light";
}

header h1 {
  font-size: 2.7rem;
}

#slogan {
  margin-top: 100px;
  width: 100%;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Montserrat_Light";
  /* texto da landing page */
}

iframe {
  display: none;
}

#motivacao {
  display: none;
}

#slogan p {
  padding: 10px;
  /* altera o texto do slogan */
}

#loginCadastro {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* espaço para os botões de login e cadastro */
}

#loginCadastro a {
  font-size: 2rem;
  text-decoration: none;
  margin: 20px;
  font-family: "Montserrat_Light";
  display: block;
  padding: 10px;
  /* campo dos botões de login e cadastro */
}

#login {
  background-color: orange;
  color: white;
  border-radius: 12px;
  font-weight: bold;
  /* campo do botão de login */
}

#cadastro {
  color: white;
  border: 1px solid orange;
  border-radius: 12px;
  font-weight: bold;
  /* campo do botão de cadastro */
}

header .landing {
  color: white;
  margin-top: 15px;
  /* alteração nos cabeçalhos da página de login/cadastro */
}

form {
  width: 100%;
  text-align: left;
  position: fixed;
  top: 150px;
  bottom: 0;
  /* caixa de formulários das páginas */
}

form > div {
  padding: 12px 20px;
  /* div dos formulários */
}

form div label {
  color: white;
  font-family: "Montserrat_Light";
  font-size: 2rem;
  /* label dos formulários de login/cadastro */
}

form input {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border: 2px solid white;
  width: 100%;
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box;
}

form input[type="date"] {
  font-family: "Montserrat_Light";
  text-align: center;
}

.divEntrar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
  background-color: orange;
  border-radius: 12px;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.entrar {
  font-size: 2rem;
  background-color: #ffa500;
  color: white;
  font-weight: bold;
  border: none;
}

#fileProgress {
  width: 100%;
  margin-top: 10px;
  height: 20px;
}

/*.progresso button{
    background-color: white;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
}*/

#manter_conectado {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#manter_conectado input {
  display: inline;
  width: min-content;
  margin-left: 15px;
}

#manter_conectado label {
  display: inline;
}

/*Home Page*/

.headerHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.headerHome button {
  background-color: black;
  border: none;
}

.headerHome img {
  width: 32px;
}

#modal.on {
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 20px 1px rgba(255, 255, 255, 0.4);
  position: fixed;
  top: 0px;
  bottom: 25%;
  right: 4%;
  left: 4%;
  background-color: black;
  border-color: orange;
  border-radius: 12px;
  padding: 16px;
  z-index: 2;
}

#modal.off {
  display: none;
}

#modal.on span {
  color: white;
  margin-bottom: 10px;
  font-size: 2rem;
}

#modal.on .button-modal {
  display: flex;
  justify-content: space-around;
}

.button-modal-sim {
  background-color: black;
  border: 2px solid orange;
  color: white;
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 1.5rem;
}

.button-modal-nao {
  background-color: orange;
  border: 2px solid orange;
  color: white;
  border-radius: 12px;
  padding: 6px 12px;
  font-size: 1.5rem;
}

#overlay.on {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  /*0.8 -> opacidade*/
}

#overlay.off {
  display: none;
}

.rotina {
  color: white;
  border: 2px solid white;
  border-radius: 12px;
  margin: 0 20px;
  font-family: "Montserrat_Light";
  font-weight: bold;
}

.rotina .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid white;
}

.rotina .top .left h2 {
  margin: 0;
  font-size: 2rem;
}

.rotina .top .right img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  border: 1px solid white;
  background-color: white;
}

.rotina .bottom {
  overflow: auto;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

.rotina .bottom th,
.rotina .bottom td {
  color: white;
  border: 1px solid gray;
  padding: 10px;
  text-align: center;
}

.rotina .bottom th {
  font-size: 1.5rem;
}

.rotina .bottom td input {
  color: white;
  background-color: black;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
}

.add {
  position: fixed;
  top: auto;
  bottom: 80px;
  right: 30px;
}

.add a img {
  float: right;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
}

nav.acoes {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: gray;
}

nav.acoes ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 5px 0;
  list-style: none;
}

nav.acoes li {
  text-align: center;
}

nav.acoes li a img {
  width: 24px;
  display: block;
  margin: auto;
}

nav.acoes li a {
  font-family: "Montserrat_Light";
  color: white;
  font-size: 1.2rem;
}

#addLinha {
  width: calc(100% + 148px);
  display: block;
  overflow: auto;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: 1px solid gray;
  text-align: left;
}

/*Cronometro*/

#cronometro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  font-family: "Montserrat_Light";
}

.tempo {
  color: white;
  font-size: 5rem;
  padding: 0px;
}

#cronoContar {
  font-size: 5rem;
  color: white;
}

#cronoButton {
  position: fixed;
  bottom: 60px;
}

#cronoButton button {
  display: block;
  width: 100%;
  font-size: 2rem;
  padding: 10px 20px;
  margin: 10px;
  background-color: black;
  color: #fff;
  border: 1px solid orange;
  border-radius: 12px;
}

button#cronoLigar {
  background-color: orange;
}

button#cronoResetar {
  margin-bottom: 40px;
}

.inputSenha {
  position: relative;
}

.mostrarSenha {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: white;
  background-image: url("./images/mostrarSenha.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.esconderSenha {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  background-color: white;
  background-image: url("./images/esconderSenha.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

footer {
  display: none;
}

.form h2 {
  font-size: 2rem;
  color: rgb(4, 203, 4);
  margin: 1rem;
}

#temposAnteriores {
  position: fixed;
  height: 4rem;
  width: 5rem;
  color: white;
}

#temposAnteriores h2 {
  font-size: 1.35rem;
}

#temposAnteriores p {
  font-size: 1.35rem;
}
